:host {
    width: 100%;
    margin-bottom: 8px;
}

input {
    display: none;
}

.video {
    width: 100%;
    height: 164px;
    margin: 8px 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--ion-color-light);
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        height: 36px;
        width: 36px;
        margin: 64px 0;
    }


    plyr {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}