::ng-deep {
    .can-go-back {
        ion-menu-button {
            display: none;
        }
    }
}

ion-toolbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    ion-segment {
        background-color: rgba(255, 255, 255, 0.12);
    }

}

ion-card {
    background-color: #fff;

    ion-card-header {
        padding-bottom: 0;

        ion-card-title {
            font-style: italic;
            display: flex;
        }
        ion-icon {
            margin-left: auto;
            justify-self: flex-end;
            cursor: pointer;
        }
    }
}