<ion-card *ngIf="form" mode="md">
    <form [formGroup]="form">
        <ion-list>
            <ion-item lines="inset">
                <ion-label position="stacked">{{ "c.g.onboarding.profile-picture" | translate }}</ion-label>
                <app-image-input [uri]="authuser.details.image" formControlName="image"></app-image-input>
            </ion-item>

            <ion-item style="--padding-start: 0; --inner-padding-end: 0;" lines="none">
                <ion-label position="stacked" style="padding-left: 18px;">
                    {{ "c.g.onboarding.gender" | translate }} <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-radio-group formControlName="gender" style="margin-top: 8px; width: 100%;">
                    <ion-item>
                        <ion-label class="ion-text-wrap">
                            <p>{{ "c.g.onboarding.male" | translate }}</p>
                        </ion-label>
                        <ion-radio slot="end" color="primary" value="male"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label class="ion-text-wrap">
                            <p>{{ "c.g.onboarding.female" | translate }}</p>
                        </ion-label>
                        <ion-radio slot="end" color="primary" value="female"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label class="ion-text-wrap">
                            <p>{{ "c.g.onboarding.other" | translate }}</p>
                        </ion-label>
                        <ion-radio slot="end" color="primary" value="other"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-item>

            <ion-item lines="none" style="--padding-bottom: 0; --inner-padding-bottom: 0;">
                <ion-label position="stacked">
                    {{ "c.g.onboarding.age" | translate }} <ion-text color="danger">*</ion-text>
                </ion-label>
            </ion-item>
            <ion-item style="--padding-start: 0; --inner-padding-end: 0; --padding-top: 0; --inner-padding-top: 0;">
                <div style="width: 100%; display: flex; flex-direction: column;">
                    <ion-range style="padding-top: 0;" min="10" max="99" step="1" snaps="true" ticks="false"
                        formControlName="age" color="dark">
                        <ion-label slot="start">10</ion-label>
                        <ion-label slot="end">99</ion-label>
                    </ion-range>
                    <ion-text color="medium" style="margin: 0 auto 24px auto;">
                        {{ form.get('age').value ? form.get('age').value + ' ' + ("c.g.onboarding.years"
                        | translate) : ("c.g.onboarding.select-value" | translate) + ' &uarr;' }}
                    </ion-text>
                </div>
            </ion-item>

        </ion-list>

        <ion-card-content>
            <ion-button (click)="submitData()" expand="block" color="secondary" [disabled]="isLocked || !form.valid">
                <ion-spinner slot="start" *ngIf="isLocked; else label"></ion-spinner>
                <ng-template #label>{{ "c.g.onboarding.save-personal-info" | translate }}</ng-template>
            </ion-button>
        </ion-card-content>
    </form>
</ion-card>