ion-split-pane {
    --side-min-width: 240px;
    --side-max-width: 240px;
}


ion-menu ion-content {
    --background: #fff;
    --padding-start: 8px;
    --padding-end: 8px;

    ion-list {
        padding: 16px 0;
        border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);

        ion-thumbnail {
            margin: 16px 16px 16px 0;
            --border-radius: 4px;
        }

        ion-list-header {
            padding-left: 10px;
            margin-bottom: 18px;
            font-size: 16px;
            color: #757575;
            min-height: 26px;
        }

        ion-note {
            align-self: center;
            margin: 0;
            // margin-right: -16px;
            min-width: 20px;
            padding: 2px 4px;
            border-radius: 10px;
            font-size: 14px;
            text-align: center;
            background-color: var(--ion-color-secondary);
            color: #fff;
            font-weight: 500;
        }

        ion-item {
            --padding-start: 10px;
            --padding-end: 10px;
            --inner-padding-end: 0;
            border-radius: 4px;
            margin-top: 2px;

            ion-icon {
                color: #616e7e;
                margin-right: 20px;
            }

            ion-label {
                font-weight: 500;
            }

            &.selected {
                --background: var(--ion-color-light);
                --color: rgba(var(--ion-color-primary-rgb), 1);
                --detail-icon-color: rgba(var(--ion-color-primary-rgb), 1);

                p {
                    color: var(--ion-color-light-contrast);
                }

                ion-icon {
                    color: var(--ion-color-primary);
                }
            }
        }

        &.header-list {
            ion-item {
                --padding-start: 4px;
                --padding-end: 4px;
            }
        }
    }
}



ion-footer {
    padding: 0 8px;
    box-shadow: none;

    ion-toolbar {
        box-shadow: none;
        outline: none;
        cursor: pointer;

        .footer-container {
            display: flex;
            align-items: center;

            ion-icon {
                width: 24px;
                height: 24px;
                margin: 0 auto;
                margin-right: 4px;
                color: var(--ion-color-medium);
            }

            ion-label {
                margin: 0 auto;
                margin-left: 4px;
                color: var(--ion-color-medium);
            }
        }
    }
}

ion-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: opacity 100ms ease-in, transform 125ms ease-in;
    transform: translateY(0);
    opacity: 1;

    @media (min-width: 576px) {
        display: none;
    }

    .general {
        display: block;
    }

    .active {
        display: none;
    }

    .tab-selected {
        .general {
            display: none;
        }

        .active {
            display: block;
        }
    }

    .badge {
        position: absolute;
        padding: 2px 6px 1px 6px;
        margin: -18px 0 0 18px;
        background-color: var(--ion-color-secondary);
        color: #fff;
        border: 1px solid #fff;
        font-size: .8rem;
        line-height: .9rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    }
}

::ng-deep body {

    &.backdrop-no-scroll,
    &.hide-tab,
    .fireworks+ {
        ion-tab-bar {
            transform: translateY(100%);
            opacity: 0;
        }
    }
}


.fireworks {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(47, 53, 66, .75);

    +.fireworks {
        display: none;
    }

    .container {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: calc(calc(7 / var(--ion-grid-columns, 12)) * 100%);
        max-width: calc(calc(7 / var(--ion-grid-columns, 12)) * 100%);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 576px) {
            width: calc(100% - 16px);
            max-width: calc(100% - 16px);
        }
    }

    .reward {
        width: 100%;
        margin-bottom: 24px;

        ion-slides {
            padding-bottom: 24px;

            ion-slide {
                height: 420px;
                padding: 32px 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                object-fit: contain;

                .reward-container {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 15px 12px rgba(0, 0, 0, 0.15);
                    background-color: #000;
                    position: relative;
                    overflow: hidden;

                    &.gradient {
                        background-color: #4158D0;
                        background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        animation: kenburn 20s ease-in-out infinite;
                    }

                    p {
                        position: absolute;
                        bottom: 0;
                        padding: 24px;
                        text-align: left;
                        font-size: 1.4rem;
                        line-height: 1.3;
                        font-weight: bold;
                        font-style: italic;
                        text-shadow: 1px 1px 2px #000;
                        color: #fff;
                    }
                }
            }
        }

        @keyframes kenburn {
            0% {
                opacity: .3;
                transform: scale(1);
            }

            50% {
                opacity: .5;
                transform: scale(1.15);
            }

            100% {
                opacity: .3;
                transform: scale(1);
            }
        }

    }

    ion-card {
        background-color: #fff;
        max-height: 400px;
        overflow-y: scroll;

        ion-item {

            ion-label,
            p {
                color: #2f3542;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(47, 53, 66, .75);
    .container {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: calc(calc(7 / var(--ion-grid-columns, 12)) * 100%);
        max-width: calc(calc(7 / var(--ion-grid-columns, 12)) * 100%);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 576px) {
            width: calc(100% - 16px);
            max-width: calc(100% - 16px);
        }
    }
    ion-card {
        background-color: #fff;
        max-height: 400px;
        overflow-y: scroll;

        ion-item {

            ion-label,
            p {
                color: #2f3542;
            }
        }
    }
}