<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="secondary" slot="start">
      <ion-button (click)="closeModal()" *ngIf="isModal">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-back-button text="" defaultHref="/" *ngIf="!isModal"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "p.g.recover-password.recover-password" | translate }}</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-grid class="ion-no-padding">
    <ion-row style="justify-content: center;">
      <ion-col size="12" size-md="7" size-lg="5" class="ion-no-padding">

        <ion-card mode="md">
          <form *ngIf="passwordForm" [formGroup]="passwordForm" autocomplete="off">
            <ng-container *ngIf="!isAuthenticated; else changepass;">
              <ng-container *ngIf="!passwordForm.get('token').value; else resetpass;">

                <ion-list lines="full" mode="md">
                  <ion-item>
                    <ion-label position="stacked">
                      {{ "p.g.recover-password.email" | translate }} <ion-text color="danger">*</ion-text>
                      <p>
                        <span *ngIf="passwordForm.get('email').touched && passwordForm.get('email').errors?.pattern">
                          {{ "p.g.recover-password.email-invalid" | translate }}
                        </span>
                      </p>
                    </ion-label>
                    <ion-input type="email" placeholder="" formControlName="email" autocomplete="off"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-button (click)="requestResetPassword()" expand="block" color="secondary"
                      [disabled]="isLocked || !passwordForm.valid">
                      <ion-spinner slot="start" *ngIf="isLocked; else label"></ion-spinner>
                      <ng-template #label>{{ "p.g.recover-password.send-link" | translate }}</ng-template>
                    </ion-button>
                  </ion-item>
                </ion-list>

              </ng-container>

              <ng-template #resetpass>
                <ion-list lines="full" mode="md">

                  <ion-list-header>
                    <ion-label><strong>{{ "p.g.recover-password.new-password" | translate }}</strong></ion-label>
                  </ion-list-header>

                  <ion-item lines="inset">
                    <ion-label position="stacked">
                      {{ "p.g.recover-password.password" | translate }} <ion-text color="danger">*</ion-text>
                      <p>
                        <span
                          *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.minlength">
                          {{ "p.g.recover-password.password-too-short" | translate }}
                        </span>
                        <span
                          *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.maxlength">
                          {{ "p.g.recover-password.password-too-long" | translate }}
                        </span>
                      </p>
                    </ion-label>
                    <ion-input type="password" placeholder="" formControlName="password" autocomplete="off">
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">
                      {{ "p.g.recover-password.password-confirmation" | translate }} <ion-text color="danger">*
                      </ion-text>
                      <p>
                        <span
                          *ngIf="passwordForm.controls['passwordconfirm'].touched  && passwordForm.controls['passwordconfirm'].errors?.passwordMismatch">
                          {{ "p.g.recover-password.passwords-do-not-match" | translate }}
                        </span>
                      </p>
                    </ion-label>
                    <ion-input type="password" placeholder="" formControlName="passwordconfirm" autocomplete="off">
                    </ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-button (click)="resetPassword()" expand="block" color="secondary"
                      [disabled]="isLocked || !passwordForm.valid">
                      <ion-spinner slot="start" *ngIf="isLocked; else label"></ion-spinner>
                      <ng-template #label>{{ "p.g.recover-password.recover-password" | translate }}</ng-template>
                    </ion-button>
                  </ion-item>

                </ion-list>
              </ng-template>

            </ng-container>

            <ng-template #changepass>
              <ion-list lines="full" mode="md">
                <ion-list-header>
                  <ion-label><strong>{{ "p.g.recover-password.current-password-1" | translate }}</strong></ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label position="stacked">
                    {{ "p.g.recover-password.current-password-2" | translate }} <ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input type="password" placeholder="" formControlName="oldPassword" autocomplete="off">
                  </ion-input>
                </ion-item>
                <ion-list-header>
                  <ion-label><strong>{{ "p.g.recover-password.new-password" | translate }}</strong></ion-label>
                </ion-list-header>
                <ion-item lines="inset">
                  <ion-label position="stacked">
                    {{ "p.g.recover-password.password" | translate }} <ion-text color="danger">*</ion-text>
                    <p>
                      <span
                        *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.minlength">
                        {{ "p.g.recover-password.password-too-short" | translate }}
                      </span>
                      <span
                        *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.maxlength">
                        {{ "p.g.recover-password.password-too-long" | translate }}
                      </span>
                    </p>
                  </ion-label>
                  <ion-input type="password" placeholder="" formControlName="password" autocomplete="off">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">
                    {{ "p.g.recover-password.password-confirmation" | translate }} <ion-text color="danger">*</ion-text>
                    <p>
                      <span
                        *ngIf="passwordForm.controls['passwordconfirm'].touched  && passwordForm.controls['passwordconfirm'].errors?.passwordMismatch">
                        {{ "p.g.recover-password.passwords-do-not-match" | translate }}
                      </span>
                    </p>
                  </ion-label>
                  <ion-input type="password" placeholder="" formControlName="passwordconfirm" autocomplete="off">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-button (click)="changePassword()" expand="block" color="secondary"
                    [disabled]="isLocked || !passwordForm.valid">
                    <ion-spinner slot="start" *ngIf="isLocked; else label"></ion-spinner>
                    <ng-template #label>{{ "p.g.recover-password.update-password" | translate }}</ng-template>
                  </ion-button>
                </ion-item>

              </ion-list>

            </ng-template>

          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>