<form *ngIf="isReady" [formGroup]="form">

    <ion-card mode="md">
        <ion-card-header>
            <ion-card-title>{{ "c.g.onboarding.select-group-1" | translate }}</ion-card-title>
            <ion-card-subtitle>{{ "c.g.onboarding.select-group-2" | translate }}</ion-card-subtitle>
        </ion-card-header>
        <ion-list *ngFor="let gtype of gtypes">
            <ion-radio-group [formControlName]="gtype.name">
                <ion-item *ngFor="let group of gtype.groups">
                    <ion-avatar slot="start">
                        <img [src]="group.image"
                            (error)="$event.target.src = uris.assets + '/placeholders/ph-group.svg'">
                    </ion-avatar>
                    <ion-label class="ion-text-wrap">
                        {{ group.name }}
                    </ion-label>
                    <ion-radio [value]="group.cid" color="primary"
                        [disabled]="!group.cid || form.get(gtype.name).disabled || group.assignment !== 'select-at-onboarding'">
                    </ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-card-content>
            <ion-button (click)="submitData()" expand="block" color="secondary"
                [disabled]="isLocked || (!form.valid && !form.disabled)">
                <ion-spinner slot="start" *ngIf="isLocked; else label"></ion-spinner>
                <ng-template #label>{{ "c.g.onboarding.select-group" | translate }}</ng-template>
            </ion-button>
        </ion-card-content>
    </ion-card>

</form>