:host {
    width: 100%;
}

ion-item {
    --ripple-color: var(--ion-color-medium);

    &:not(.ion-item-regular) {
        margin: 2px 4px;
        --padding-start: 8px;
        --padding-end: 8px;
        --inner-padding-end: 0;
        border-radius: 4px;
    }


    ion-icon {
        color: #616e7e;
        margin-right: 20px;
    }

    ion-label {
        [color="danger"] {
            color: rgba(var(--ion-color-danger-rgb), 0.8);
        }
    }


    &.item-radio-checked {
        --background: rgba(var(--ion-color-secondary-rgb), 0.16);
        --color: var(--ion-color-secondary);

        ion-icon {
            color: var(--ion-color-secondary);
        }
    }

    &.select-danger {
        --color: var(--ion-color-medium-shade);

        &.item-radio-checked {
            --background: rgba(var(--ion-color-danger-rgb), 0.16);
            --color: var(--ion-color-danger);

            ion-icon {
                color: var(--ion-color-danger);
            }
        }
    }

}