ion-card {
    background-color: #fff;

    &.full {
        margin: 0 0 16px 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        @media (max-width: 576px) {
            width: 100%;
            margin: 0;
            border-radius: 0;
        }
    }

    >ion-buttons {
        display: flex;
        justify-content: center;
        padding: 8px 16px;
        border-top: 1px solid var(--ion-color-light-shade);
        border-bottom: 1px solid var(--ion-color-light-shade);
    }

    > ion-list {
        border-top: 1px solid var(--ion-color-light-shade);
        padding-bottom: 16px;
    }
}