<ion-card mode="md" *ngIf="task">
  <plyr *ngIf="task.video" (click)="$event.stopPropagation()" [plyrTitle]="task.name" [plyrPlaysInline]="true"
    [plyrSources]="[{ src: task.video, type: 'video/mp4' }]" [plyrOptions]="plyrOptions">
  </plyr>

  <div class="image loading" *ngIf="task.image">
    <ion-img [src]="task.image" class="primary"
      (ionImgDidLoad)="$event.target.parentElement.classList.remove('loading')"
      (ionError)="$event.target.parentElement.style.display = 'none'">
    </ion-img>
  </div>

  <ion-list *ngIf="task.defaultGameDescriptor.translationKey; let type">

    <ion-item lines="none" detail="true">
      <ion-label class="ion-text-wrap">
        <strong>{{ task.name }}</strong>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-chip color="dark" style="margin-left: 0;">
        <ion-label>
          <strong>{{ task.points >= 0 ? '+' : '' }}{{ task.points }}</strong>
          {{ task.points === 1 ? ('g.point' | translate) : ('g.points' | translate) }}!
        </ion-label>
      </ion-chip>

      <ion-chip *ngIf="task.requiresImage && task.requiresVideo" color="dark">
        <ion-icon name="camera-outline"></ion-icon>|<ion-icon name="videocam-outline"></ion-icon>
      </ion-chip>
      <ion-chip *ngIf="task.requiresImage && !task.requiresVideo" color="dark">
        <ion-icon name="camera-outline" style="margin: 0;"></ion-icon>
      </ion-chip>
      <ion-chip *ngIf="!task.requiresImage && task.requiresVideo" color="dark">
        <ion-icon name="videocam-outline" style="margin: 0;"></ion-icon>
      </ion-chip>
      <ion-chip *ngIf="task.requiresDescription" color="dark">
        <ion-icon name="text-outline" style="margin: 0;"></ion-icon>
      </ion-chip>
      <ion-chip *ngIf="!task.providers.includes('gamebus')" color="dark">
        <ion-icon name="watch-outline"></ion-icon>
        <ion-label>{{ "c.s.rule-card.automatic" | translate }}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item *ngIf="task.desc && !task.desc.startsWith('{') && !task.desc.endsWith('}')">
      <ion-text color="dark" [innerHtml]="task.desc | mdToHtml"></ion-text>
    </ion-item>

  </ion-list>

  <ion-card-content style="padding-top: 0;" *ngIf="task.maxFired > 0 && task.withinPeriod > 0 && task.maxFired < 99">
    <div class="task-info-bar">
      <meter class="meter" [value]="task.numberOfFiresInTimeWindow" [min]="0" [low]="1" [high]="task.maxFired"
        [optimum]="task.maxFired" [max]="task.maxFired"></meter>
      <ion-button [id]="'trigger-button-' + task.rid" (click)="$event.stopPropagation()" fill="clear" shape="round"
        color="medium" style="margin-right: 0;">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-popover [trigger]="'trigger-button-' + task.rid">
        <ng-template>
          <ion-list lines="none">
            <ion-item>
              <p>
                <ng-container *ngIf="task.numberOfFiresInTimeWindow === task.maxFired; else stillRewarded">
                  {{ "c.s.rule-card.not-rewarded-anymore" | translate:{
                  period: (task.withinPeriod === 1 ? ('c.s.rule-card.today' | translate) :
                  task.withinPeriod === 7 ? ('c.s.rule-card.this-week' | translate) : ('c.s.rule-card.upcoming-days'
                  | translate:{ days: task.withinPeriod })) } }}
                </ng-container>
                <ng-template #stillRewarded>
                  {{ "c.s.rule-card.still-rewarded" | translate:{
                  n: (task.maxFired - task.numberOfFiresInTimeWindow),
                  period: (task.withinPeriod === 1 ? ('c.s.rule-card.today' | translate) :
                  task.withinPeriod === 7 ? ('c.s.rule-card.this-week' | translate) : ('c.s.rule-card.upcoming-days'
                  | translate:{ days: task.withinPeriod })) } }}
                </ng-template>
              </p>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </div>
  </ion-card-content>

</ion-card>